
.cooktable-content{
	padding: 48px 0;

	@media (max-width: 1199px){
            padding: 40px;
            }
            @media (max-width: 768px){
               padding: 30px;
            }
            @media (max-width: 575px){
                padding: 20px;
            }

	.cooktable-list{
		padding: 40px 0;
	}
	.cooktable-content__title{
		text-align: center;
		margin-bottom: 40px;
	}
	.cooktable-content__filter{
		margin: 0;
	}

}
