.app {
    .header {
        width: 100%;
        background-color: $color-primary;
        z-index: 2;
        padding: 18px 0;

        &__container {
            display: flex;
            width: calc(100% - 36px);
            margin: auto;
        }

        &__logo {
            align-items: center;

            .logo__img {
                height: 60px;
                width: 60px;

            }

            .logo__link {
                display: block;
            }
        }

        // menu for PC
        &__menu {
            font-size: 1.6rem;
            text-transform: uppercase;
            margin: auto;
        }

        // menu for Mobile

        &__mobile-menu {
            transform: translateX(-100%);
            box-shadow: 0 0 3px #E5E5E5;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 75%;
            transition: 0.5s;
            max-width: 100%;
            z-index: 3;
            background-color: $color-primary;

            .header__mobile-list {
                padding: 0;
                border-left: 3px solid $color-white;

                .header__mobile-item {
                    list-style: none;
                    padding: 7px 11px;
                    border-top: 1px solid $color-white;

                    .header__mobile-link {
                        text-decoration: none;
                        color: $color-white;
                        font-size: 1.8rem;
                    }
                }

                .header__mobile-item:first-child {
                    border-top: none;
                }
            }
        }

        // btn show on mobile
        &__mobile-menu__show {
            transform: translateX(0);
            transition: 0.5s;
        }

        &__mobile-btn__show-menu {
            display: none;

            .header__mobile-btn__icon {
                color: $color-white;
                font-size: 3.2rem;

            }
        }

        &__mobile-btn__close-menu {
            display: none;

            .header__mobile-btn__icon {
                color: $color-white;
                font-size: 3.2rem;

            }
        }

        &-list {
            align-items: center;
            list-style: none;
            display: flex;
            padding: 10px 0;
            margin: 0;


        }

        .header-list-item {
            margin-right: 30px;
        }

        .header-list-item:last-child {
            margin-right: 0;
        }

        &-item-link {
            font-weight: 500;
            text-decoration: none;
            color: $color-white;
        }

        &-item-link:hover {
            // text-decoration:underline solid $color-hover;
            border-bottom: 2px solid $color-hover;
            text-decoration: none;
            color: $color-white;
        }

        &__contact {
            align-items: center;
            display: flex;

            .header__contact-icon {
                color: $color-white;
                font-size: 4rem;
                margin-right: 16px;
            }

            .contact-content {

                .contact-phone {
                    font-size: 2.5rem;
                    text-decoration: none;
                    font-weight: 500;
                    color: $color-white;
                    overflow: visible;
                }

                .contact-phone:hover {
                    transition: 0.2s linear;
                    color: $color-hover;
                }
            }

            .contact-content p {
                font-style: italic;
                font-size: 1.6rem;
                color: $color-white;
                margin: 0;
            }
        }
    }

    .header-fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 0;
        height: 44px;
        transition: 0.3s;
        opacity(0,0,0, 2);

        .header__menu {
            margin: -7px auto;
        }

        .header-list {
            padding: 0;
        }

        .header__logo {
            display: none;
        }

        .header__contact {
            display: none;
        }

    }

    .home {

        &-booking {
            position: relative;

            .home-booking__img {
                width: 100%;
            }
        }

        &-booking__content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);

            .home-booking__body {
                text-align: center;
                padding-top: 25px;

                .home-booking__body-title {
                    color: $color-white;
                }

                .home-booking__body-wrap {
                    width: 100%;
                    height: $spin-size;
                    position: relative;
                    @include grow-center(0.6s);
                }

                .home-booking__body-spin {
                    width: $spin-body;
                    height: $spin-body;
                    margin: 0 auto;
                    border-radius: 50%;
                    text-align: center;
                    border: 2px dashed $color-white;
                    animation: spin 10s infinite linear;
                    position: absolute;
                    top: $height-logo-spin;
                    left: calc((100% - 270px) / 2);

                }

                .home-booking__body-img {
                    width: $spin-size;
                    border-radius: 50%;
                    border: 10px solid $color-white;
                    margin: 10px;
                    position: absolute;
                    top: $height-logo-spin;
                    left: calc((100% - 270px) / 2);
                }

                .home-booking__body-action {

                    font-size: 3.1rem;
                    width: 136px;
                    position: absolute;
                    bottom: -75%;
                    left: calc((100% - 136px) / 2);

                    .home-booking__body-name a {
                        text-decoration: none;
                        color: $color-white;
                    }

                    .home-booking__body-name a:hover {
                        color: $color-primary;
                    }

                    .home-booking__body-btn {
                        width: 100%;
                        font-weight: 600;
                        margin-top: 16px;
                        animation: glowing 1.5s infinite;
                    }

                    .home-booking__body-btn:hover {
                        color: $color-hover;
                    }
                }
            }
        }

        &-promotion {
            padding: 50px 0 82px 0;
            @include grow-center(0.7s);

            .home-promotion__title {}

            .home-promotion__content {

                .home-promotion__item {
                    position: relative;
                    width: calc(50% - 15px);
                    transition: top linear 1s;
                    bottom: 0;
                    overflow: hidden;

                    .home-promotion__img {
                        width: 100%;
                    }

                    .home-promotion__select {
                        display: flex;
                        position: absolute;
                        left: 75px;
                        opacity: 0;


                        .home-promotion__btn {
                            margin-left: 10px;

                            a {
                                font-weight: 600;
                                color: $color-primary;
                                display: block;
                                margin: 4px 48px;
                                text-decoration: none;
                            }
                        }

                        .home-promotion__btn:first-child {
                            margin-left: 0;
                        }

                        .home-promotion__btn:hover {
                            a {
                                color: $color-white;
                            }
                        }
                    }
                }

                .home-promotion__item:hover {
                    .home-promotion__img {
                        filter: brightness(35%);
                    }

                    .home-promotion__select {
                        bottom: 50%;
                        transition: 0.2s linear;
                        opacity: 1;
                    }

                }

                .home-promotion__item:not(:hover) {
                    .home-promotion__select {
                        bottom: -50%;
                        transition: 0.3s linear;
                    }

                }
            }
        }

        &-combo {
            background-color: $background-basic;
            padding-top: 48px;

            .home-combo__wrap {
                margin: 0 auto;

                .home-combo__head-wrap {
                    position: relative;
                    @include grow-center(0.7s);

                    .home-combo__head-link {
                        padding-bottom: 40px;
                    }
                }

                .home-combo__head-wrap:before {
                    position: absolute;
                    content: "";
                    bottom: 25px;
                    left: 0;
                    border: 0.1px solid #ecedef;
                    width: 100%;
                }

                .home-combo__wrap-content {
                    padding: 60px;
                    background-color: $color-white;
                    text-align: center;
                    box-shadow: 0 3px 5px #999;
                    @include grow-center(0.7s);

                    .wrap-content__link {
                        text-decoration: none;
                        font-size: 2rem;
                        font-weight: 600;
                        color: $color-text;
                        user-select: none;
                        display: block;


                        .wrap-content__img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .wrap-content__link:hover {
                        color: $color-primary;
                    }

                    .wrap-content__discription {
                        padding-top: 30px;
                        user-select: none;

                        p {
                            padding: 30px 0;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            word-spacing: 1px;

                        }

                    }

                    .wrap-content__discription-btn {
                        padding: 4px 21px;
                        width: 100%;
                    }
                }

                .home-combo__wrap-foot {
                    @include grow-center(0.7s);
                }
            }
        }

        &-cooktable {
            background-color: $background-basic;
            padding-top: 54px;

            .home-cooktable__head {
                margin: 0 auto;
                @include grow-center(0.7s);
                position: relative;
                width: 100%;

                .home-cooktable__head-link {
                    padding-bottom: 40px;
                    text-align: center;
                }
            }

            .home-cooktable__head:before {
                position: absolute;
                content: "";
                bottom: 25px;
                left: 0;
                border: 0.1px solid #ecedef;
                width: 100%;
            }

            .home-cooktable__slider {
                width: 100%;

                .slick-prev {
                    
                    background-color: $color-text;
                    border-radius: 50%;
                    padding: 23px;
                    left: -54px;
                    
                }
                .slick-prev:before,
                .slick-next:before
                {
                    position: absolute;
                    font-size: 40px;
                    top: 0;
                    left: 8px;
                }
                .slick-prev:hover,
                .slick-next:hover{
                    background-color: $color-primary;
                    transition: 0.4s;
                }

                .slick-next {
                    right: -54px;
                    background-color: $color-text;
                    border-radius: 50%;
                    padding: 23px;
                    color: $color-white;
                }

                .home-cooktable__content-card {
                    display: flex !important;
                    justify-content: space-between;
                    position: relative;
                    @include grow-center(0.7s);

                    .home-cooktable__wrap {
                        background-color: $color-primary;

                        .home-cooktable__wrap-link {
                            display: block;
                            color: $color-white;
                            font-size: 3rem;
                            font-weight: 800;
                            user-select: none;

                            .home-cooktable__wrap-img {
                                width: 100%;
                                object-fit: cover;
                            }

                            .home-cooktable__wrap-img figure {
                                position: relative;
                            }

                            .home-cooktable__wrap-img figure:after {
                                position: absolute;
                                top: 0;
                                right: -75%;
                                z-index: 2;
                                display: block;
                                content: '';
                                width: 50%;
                                height: 100%;
                                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                                transform: skewX(45deg);
                            }

                            .home-cooktable__wrap-img figure:hover::before {
                                animation: shine .75s;
                            }
                        }

                       
                        .home-cooktable__wrap-discription {
                            padding: 30px;

                            .home-cooktable__wrap-discription-btn {
                                padding: 0 20px;
                            }

                            .home-cooktable__wrap-discription:hover {
                                background-color: #333131;
                            }

                            p {
                                font-size: 1.5rem;
                                color: $color-white;
                                margin: 15px auto 30px auto;
                                user-select: none;
                            }
                        }

                        .home-cooktable__wrap-link:hover {
                            text-decoration: none;
                            color: $color-hover;
                            transition: 0.2s linear;
                        }
                    }

                    .home-cooktable__content-img {
                        width: 100%;
                        object-fit: cover;
                    }

                }
                
            }
        



        .home-cooktable__foot {
            width: 100%;
            text-align: center;
            padding-bottom: 8px;
            @include grow-center(0.7s);
        }
    }

    &-address {
        background-color: $color-text;

        .home-address__content {
            width: 50%;
            padding: 48px 0 35px 0;
            margin: 0 auto;


            .home-address__title {
                color: $color-white;
                width: 100%;
                text-align: center;
            }

            .home-address__wrap {
                padding-top: 20px;

                .home-address__wrap-title {
                    color: $color-white;
                    font-size: 2rem;
                    font-weight: 500;
                    position: relative;
                }

                .home-address__wrap-title:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    border: 1px solid #938d82;
                    width: calc(100% - 101px);
                }

                .home-address__wrap-list {
                    list-style: none;
                    padding: 20px 0 0 0;

                    .home-address__wrap-item {
                        color: #938d82;
                        font-size: 1.5rem;
                        padding: 15px 0;
                        border-bottom: 1px dashed #938d82;

                        i {
                            color: $color-primary;
                            padding-right: 4px;
                        }
                    }

                    .home-address__wrap-item:last-child {
                        border: none;
                    }

                }
            }
        }
    }

    &-news {
        padding: 48px 0 80px 0;

        .home-news__content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}

// Fix site phone & messenger
// phone
.btn-phone {
    position: fixed;
    bottom: 114px;
    left: 30px;
    z-index: 4;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        width: 64px;
        background: #ee3135;
        border-radius: 50%;
        position: absolute;

        .fa {
            font-size: 35px;
            color: $color-white;
            animation: shake 1s infinite linear;
        }

        &:before {
            content: "";
            background: #ee3135;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            transform: scale(0.4);
            animation: zoomin 2s infinite linear;
            position: absolute;
            border-radius: 50%;
        }

        &:after {
            content: "";
            border: 1px solid red;
            width: 100%;
            height: 100%;
            opacity: 0.9;
            animation: zoomout 1s infinite linear;
            position: absolute;
            border-radius: 50%;
        }
    }
}

.btn-messenger {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 4;
    width: 70px;
    height: 70px;

    img {
        width: 100%;
    }
}

.footer {
    position: relative;
    background-color: #0f0f0f;

    .scrollTop {
        position: absolute;
        left: calc((100% - 60px) / 2);
        width: 60px;
        top: -30px;

        opacity: 1;
        color: $color-primary;
        transition: all 0.4s ease-in-out 0s;
    }

    .scrollTop i:hover {
        color: $color-white;
        cursor: pointer;
        background-color: $color-hover;
        // animation: fadein 1s;
    }

    .scrollTop i {
        font-size: 2.5rem;
        color: $color-white;
        border-radius: 50%;
        padding: 18px;
        background-color: $color-primary;
    }

    &-wrap {
        width: 100%;
        text-align: center;
        padding-top: 48px;

        .footer-logo {
            .footer-logo-link {}

            .footer_logo-img {
                width: 61px;
                height: 61px;
            }
        }

        .footer-contact {
            display: inline-flex;
            justify-content: center;
            padding: 30px 0 16px 0;




            .footer-phone {
                a {
                    font-size: 2rem;
                    padding-right: 16px;
                    text-decoration: none;
                    color: $color-white;
                }
            }

            .footer-mail {
                a {
                    font-size: 1.6rem;
                    border-left: 1px solid $color-hover;
                    margin: 0;
                    padding-left: 16px;
                    color: $color-white;

                }
            }


            a:hover {
                text-decoration: none;
                color: $color-primary;
            }
        }

        .footer-menu {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            flex-wrap: wrap;

            .footer-item {
                list-style: none;
                margin-left: 20px;

                .footer-item-link {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 1.5rem;
                }

                .footer-item-link:hover {
                    text-decoration: none;
                    color: $color-primary;
                }
            }

            .footer-item:first-child {
                margin-left: 0;
            }
        }

        .footer-social {
            .social-link {
                font-size: 1.5rem;
                color: $color-white;
                padding-left: 16px;

                i {
                    border-radius: 50%;
                    padding: 15px;
                    width: 45px;
                    background-color: #707070;
                }

                img {
                    border-radius: 50%;
                    padding: 15px;
                    width: 45px;
                    background-color: #707070;
                }
            }

            .social-link:first-child {
                padding-left: 0;
            }

            .social-link:hover {
                text-decoration: none;
                color: #fff;

                i {
                    color: $color-primary;
                    background-color: $color-white;
                }

                img {
                    color: $color-primary;
                    background-color: $color-white;
                }

            }
        }

        .footer-infor {
            padding-top: 60px;

            p {
                font-size: 1.5rem;
                color: $color-white;
            }
        }
    }
}
}