.news-content{
	width: 100%;
    display: flex;
    padding: 50px 0 114px 0;
    flex-wrap: wrap;

            @media (max-width: 1199px){
            padding: 40px; 
            }
            @media (max-width: 768px){
                padding: 30px; 
                justify-content: space-between;
            }
            @media (max-width: 575px){
                padding: 20px;
                margin: 0 auto; 
            }

    .news-content__wrap{
    	box-shadow: 0 10px 10px #00000029;
    }
    .news-content__wrap:hover{
    	box-shadow: 0 20px 20px #E5E5E5;
    	transition: 0.5s;
    }
}