.promotion-list{
	padding: 40px 0;
	@media (min-width: 1200px){

	}
}
.promotion-content{
	padding: 48px 0;
	@media (min-width: 1200px){
		padding: 48px 30px;
	}
	@media (max-width: 1199px){
		padding: 40px 30px;
	}
	@media (max-width: 768px){
		padding: 40px 20px;
	}
	@media (max-width: 575px){
		padding: 30px 15px;
	}
}
.promotion-control{
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	.promotion-control__btn{
		background-color: $color-blur;
		border: none;
		height: 45px;
		width: 45px;
		color: $color-text;
		font-size: 1.5rem;
		font-weight: 800;
		margin-left: 8px;
		border-radius: 0;
		outline: none;

		@media (max-width: 1199px){
            height: 45px;
		width: 45px;
            }
            @media (max-width: 768px){
                height: 38px;
		width: 38px;
            }
            @media (max-width: 575px){
                height: 35px;
		width: 35px;
            }
	}
	.promotion-control__btn.promotion-control__now{
		background-color: $color-primary;
		color: $color-white;
		cursor: text;
		border: none;
		border-radius: 0;
		outline: none;
	}
	.promotion-control__btn:hover{
		background-color: $color-primary;
		transition: 0.5s;
		color: $color-white;
	}
}
