.recruitment-content{
	@media (max-width: 1199px){
            padding: 40px; 
            }
            @media (max-width: 768px){
                padding: 30px; 
            }
            @media (max-width: 575px){
                padding: 20px; 
            }
}
.recruitment-list{
	    padding: 45px 0 120px 0;
}