@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/font/OpenSans-Bold.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("/assets/font/OpenSans-Bold.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Test fast My Responsive function

// $pc:'@media (min-width: 768px) and (max-width: 1199px)';
// $tab:'@media (min-width: 575px) and (max-width: 767px)';
// $mobile:'@media (min-width: 320px) and (max-width: 574px)';


// @mixin Responsive ($pc, $tab, $mobile) {
//     $pc($property) {
//         @media (min-width: 768px) and (max-width: 1199px) {
//             $property;
//         }
//     }

//     $tab($property) {
//         @media (min-width: 575px) and (max-width: 767px) {
//             $property;
//         }
//     }

//     $mobile($property) {
//         @media (min-width: 320px) and (max-width: 574px) {
//          $property
//     }
// }


$color-primary:#ac2223;
$color-hover:#ffc107;
$color-white:#ffffff;
$color-text:#262626;
$height-logo-spin:40px;
$background-basic:#f4f4f4;
$color-blur:#c7c1be;
$color-description:#707070;
// for spin
$spin-size: 250px;
$spin-body:($spin-size + 20px);


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    color: $color-white;
    
    a:-webkit-any-link:focus{
        outline: none;
    }
}

@keyframes fadein {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 -2px 3px $color-white;
    }

    50% {
        box-shadow: 0 -2px 10px $color-white;
    }

    100% {
        box-shadow: 0 -2px 3px $color-white;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

// slider-hover flash top-right to bottom

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover {
    opacity: 1;
}

.slider-flash__common figure {
    position: relative;
}

.slider-flash__common {
    figure:before {
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 2;
        content: '';
        width: 75%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
        transform: skewX(45deg);
    }
}

.slider-flash__common {
    figure:hover::before {
        animation: shine 1s;
        transform: rotage(1turn);
    }

    figure:not(:hover)::before {
        animation: out-shine 1s;
    }
}

@keyframes shine {
    100% {
        right: 125%;
    }
}

@keyframes out-shine {
    100% {
        left: 125%;
    }
}

@mixin grow-center($time) {
    transform-origin: center;
    animation: grow linear ($time);
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(2.1);
        opacity: 0.1;
    }

    100% {
        -webkit-transform: scale(0.8);
        opacity: 0.8;
    }
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(3);
        opacity: 0.1;
    }

}

@-webkit-keyframes shake {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grid__col-6 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grid__col-50 {
    width: 50%;
}

.grid__col-4 {
    width: calc((100% - 30px) / 3);
    text-align: center;
    margin: 0 15px;
}

.grid__col-7 {
    width: calc(60% - 15px);
}

.grid__col-5 {
    width: calc(40% - 15px);
}

.container {
    max-width: 1200px;
    padding: 0;
}

.banner-common {
    width: 100%;
    height: 284px;
    position: relative;

    .banner__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

        .banner__content-wrap {
            position: absolute;
            right: 0;
            bottom: calc((100% - 90px) / 2);
            left: 0;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            z-index: 2;
            transition: top linear 1s;

            .banner__wrap-title {
                font-size: 5rem;
                color: $color-white;
                font-weight: 400;
                @media (min-width: 320px) and (max-width: 1199px) {
                    font-size: 3.5rem; 
                    font-weight: 400;  
                }
                
            }

            .banner__wrap-page-action {
                display: flex;
                justify-content: center;
                padding-top: 10px;

                .banner__wrap-page-back {
                    color: $color-white;
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-decoration: none;
                    padding-right: 8px;

                }

                .banner__wrap-page-back:hover {
                    text-decoration: none;
                    color: $color-primary;
                }

                .banner__wrap-page-now {
                    color: $color-white;
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }
        }
    }
}

// card-form
.card-vertical__common {
    width: calc((100% - 60px) / 3);
    margin: 0 30px 30px 0;

        @media (max-width: 1199px){
            
            }
            @media (max-width: 768px){
                width: calc((100% - 30px) / 2);
                margin: 15px 0 !important;

                justify-content: space-between;
            }
            @media (max-width: 575px){
                 
                margin: 0 auto; 
            }

    .card-vertical__wrap {
        width: 100%;
        height: 222px;
        overflow: hidden;

        .card-vertical__wrap-link {
            display: block;

            .card-vertical__wrap-img {
                width: 100%;
                height: 222px;
                object-fit: cover;

            }
        }
    }

    .card-vertical__content {
        padding: 16px;
        text-align: initial;

        .card-vertical__content-link {
            color: $color-text;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;

            p {
                margin: 8px 0;
            }
        }

        .card-vertical__content-link:hover {
            color: $color-primary;
        }

        .card-vertical__content-description {
            font-size: 1.6rem;
            color: #938d82;
            padding: 6px 0 6px 0;
        }

        .card-vertical__content-btn:hover {
            background-color: $color-white;
            color: $color-hover;
        }
    }
}

.card-vertical__common:nth-child(3n) {
    margin-right: 0;
}

.card-vertical__common:hover {
    box-shadow: 0 3px 8px #E5E5E5;
}

.card-horizontal__common {
    padding: 24px 0;
    display: flex;
    border-bottom: 1px solid #e9e9e9;

   
    @media (max-width: 768px){
       display: block;   
    }

    .card-horizontal__link {
        text-decoration: none;
        
        @media (max-width: 768px){
            display: block;
            text-align: center;
        }
        .card-horizontal__img {
            width: 330px;
            height: 330px;
            object-fit: cover;

    @media (max-width: 768px){
        width: 280px;
        height: 280px;
    }
        }
    }

    .card-horizontal__wrap {
        margin: auto 48px;
        width: calc(100% - 80px);

         @media (max-width: 768px){
            margin: 20px auto;
                width: 70%;
                }
         @media (max-width: 575px){
            margin: 20px auto;
                width: 85%;
         }
               
        .card-horizontal__wrap-link {
            text-decoration: none;
            color: $color-text;
            font-size: 3rem;
            font-weight: 600;
            
            @media (max-width: 1199px){
            font-size: 2.2rem;
            }
            @media (max-width: 768px){
                font-size: 1.8rem;
            }
            @media (max-width: 575px){
                font-size: 1.6rem;
            }

            .card-horizontal__wrap-head {
                margin: 0 0 15px 0;
    
   
  
            }
        }

        .card-horizontal__wrap-link:hover {
            color: $color-primary;
        }

        .card-horizontal__wrap-description {
            font-size: 1.5rem;
            color: $color-description;
            margin: 15px 0 32px 0;

            p {
                margin: 0;
            }
        }

        .card-horizontal__wrap-btn {
            color: $color-white;
            background-color: $color-primary;
            width: 135px;
        }

        .card-horizontal__wrap-btn:hover {
            background-color: #650203;
        }
    }
}

.date-time__common {

    display: flex;
    align-items: center;

    .date-time__icon {
        font-size: 1.4rem;
        padding-right: 4px;
        color: $color-primary;
    }

    .date-time__date {
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
    }
}

.btn {
    min-width: 115px;
    min-height: 39px;
    text-decoration: none;
    border: none;
    background-color: $color-white;
    color: $color-primary;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 1.5rem;
    outline: none;
}

.btn:hover {
    background-color: $color-primary;
    transition: 0.2s linear;
}

.btn.view {
    i {
        padding-left: 8px;
        transition: 0.2s linear;
        font-weight: 300;
    }
}

.btn.black {
    color: $color-white;
    background-color: $color-text;
    font-size: 1.4rem;
    font-weight: 800;
    word-spacing: 2px;
}

.btn.black:hover {
    background-color: #333333;
    transition: 0.2s linear;
}

.btn.booking {
    background-color: $color-primary;
    margin: 40px 0;
    width: 195px;
    height: 54px;
    color: $color-white;

}

.btn.booking:hover {
    background-color: #650203;
    transition: 0.2s linear;
}

.common-title {
    font-size: 3.4rem;
    font-weight: 600;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;

}

.common-title.title-underline:before {
    content: "";
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    width: 151px;
    border: 2px solid $color-primary;
}

.nd-title__common {
    display: flex;
    justify-content: center;
    position: relative;

    .nd-title__item__common {
        position: relative;
        margin-left: 20px;

        a {
            color: $color-text;
            font-size: 2rem;
            font-weight: 600;
            text-decoration: none;
        }

        a:hover {
            color: $color-primary;
            text-decoration: none;
        }

    }

    .nd-title__item__common.nd-title__item-selected__common:before {
        content: "";
        left: 0;
        bottom: -15px;
        position: absolute;
        width: 100%;
        border: 2px solid $color-description;
    }
}

.nd-title__common:before {
    content: "";
    left: 0;
    bottom: -15px;
    position: absolute;
    width: 100%;
    border: 0.1px solid #e9e9e9;
}

.common-link-name {
    font-size: 2rem;
    font-weight: 400;
    color: $color-primary;
    text-decoration: none;

}

.common-link-name:hover {
    text-decoration: none;
    color: $color-primary;
}